/* Центрируем логотип */
.logo-container {
    text-align: left; /* Центрирование логотипа */
    margin-top: 20px; /* Отступ сверху */
}

/* Устанавливаем размер логотипа */
.logo {
    width: 300px; /* Ширина логотипа */
    height: auto; /* Сохраняем пропорции */
    display: inline-block; /* Убедимся, что логотип ведёт себя как блочный элемент */
}
